<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Cabeçalho</li>
    <!-- Optionally, you can add icons to the links -->

    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa fa-home"></i>Inicio</a></li>
    @*<li><a href="#"><i class="fa fa-link"></i> <span>Outro Link</span></a></li>*@
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Despesas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="nav-item">
                <a asp-area="" asp-controller="Despesas" asp-action="Index"><i class="fa fa-circle-o"></i>Despesas</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="TipoDespesas" asp-action="Index"><i class="fa fa-circle-o"></i>Tipo Despesas</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Salarios" asp-action="Index"><i class="fa fa-circle-o"></i>Salarios</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-money"></i> <span>Receitas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="nav-item">
                <a asp-area="" asp-controller="TiposAtivos" asp-action="Index"><i class="fa fa-circle-o"></i>Tipos Ativos</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="TipoMovimentacoesCarteira" asp-action="Index"><i class="fa fa-circle-o"></i>Tipo Movimentações Carteira</a>
            </li>
        </ul>
    </li>
</ul>
